


/* Form Styles */

.user-form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.input-field {
  padding: 10px;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  font-size: 14px;
  width: 40%;
  transition: border-color 0.2s ease;
}